/*
 Theme Name:   Fanarch
 Theme URI:    http:/fanarch.com
 Description:  Fanarch Theme
 Author:       Sam Solomon
 Author URI:   http://solomon.io
 Template: upvote
 Version:      1.0.0
 Text Domain:  signal-tower
*/

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

html { background: #fff; font: normal 1em/1.5, sans-serif; color: #333; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; text-rendering: optimizeLegibility; }
body { max-width: 64em; margin: 0 auto; padding: 6em 1em; font-family: "source sans pro"; font-size: 18px;}

article, aside, figure, figcaption, footer, header, main, nav, section { display: block; }
h1, h2, h3, h4, p, ul, ol, dl, pre, address, table, form, hr, figure, audio, video { margin-bottom: 1.5em; }

/* TYPOGRAPHY
------------------------------------------------------------------------------------------------ */

h1 { font-weight: bold; font-size: 3em; line-height: 1.125; margin-bottom: .5em; }
h2 { font-weight: bold; font-size: 2em; line-height: 1.25; margin-bottom: .75em; }
h3 { font-weight: bold; font-size: 1.5em; line-height: 1.25; margin-bottom: 1em; }
h4 { font-weight: bold; font-size: 1em; }

a, :focus { outline: 0; }

a { color: #07f; text-decoration: none; }
a:visited { color: #07f; text-decoration: none; }
a:hover { color: #07f; text-decoration: underline; }
a:active { color: #07f; text-decoration: underline; }

a img { border: 0 none; }

strong, b { font-weight: bold; }
small { font-size: .875em; }
strike, del { text-decoration: line-through; }

pre, code, kbd, samp { font-family: Consolas, "Lucida Console", Monaco, monospace; font-size: .875em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
sub, sup { font-size: .75em; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
mark { background: #ff6; padding: 1px 3px; }

blockquote { font-style: italic; border-left: 2px solid #07f; margin-bottom: 1.5em; padding: 1.125em 1.5em 1px; }

hr { display: block; height: 0; border: 0 none; border-top: 1px solid #384749; margin: 2.5em 0; }

ul { list-style: square outside; margin-left: 2em; }
ul ul { margin-bottom: 0; }

ol { list-style: decimal outside; margin-left: 2em; }
ol ol { margin-bottom: 0; }

dl {  }
dt { font-weight: bold; }
dd {  }
dd + dt, dd + dd { margin-top: 1.5em; }

/* FORMS
------------------------------------------------------------------------------------------------ */




/* STRUCTURE
------------------------------------------------------------------------------------------------ */
.container {max-width: 768px;}

/* HELPER CLASSES
------------------------------------------------------------------------------------------------ */

.left { float: left !important; }
.right { float: right !important; }
.normal { font-weight: normal !important; }









